.main {
  background-color: #f5f6f8;
  padding: 200px 0 170px;
}
.main__container {
  background-color: white;
  width: 976px;
  height: 600px;
  margin: 1px auto 0;
}
.main__title {
  text-align: center;
  padding: 30px 0 30px 0;
  font-weight: 700;
  font-size: 24px;
}
.main__ticket {
  width: 834px;
  height: 362px;
  margin: 0 auto;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
}

.main__ticket__left__header {
  background-color: #5f2eea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 77px;
  border-top-left-radius: 16px;
}
.main__ticket__left__header p {
  display: flex;
  color: white;
  font-size: 19px;
  margin-top: 20px;
  margin-right: 40px;
}
.main__ticket__right__header {
  background-color: #5f2eea;
  height: 77px;
  width: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 16px;
}
.img1 {
  height: 49px;
  display: flex;
  margin-left: 50px;
}
.img2 {
  height: 49px;
  display: flex;
}
.main__ticket__left__content {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
}
.title {
  color: #aaaaaa;
  font-weight: 400;
}
.content {
  font-size: 18px;
  font-weight: 600;
  color: #14142b;
  margin-top: -10px;
  margin-bottom: 30px;
}
.content__price {
  font-size: 18px;
  font-weight: 800;
  color: #14142b;
  margin-top: -10px;
  margin-bottom: 30px;
}
.ticket__container {
  width: 191px;
  height: 191px;
  margin: 45px auto;
  background-color: #f5f6f8;
}
.ticket__container p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 191px;
  font-size: 16px;
  font-weight: 700;
}
.ticket__container__img {
  width: 191px;
  margin: 50px 50px;
}
.line {
  width: 5px;
  height: 360px;
  border: 1px dotted #dedede;
}
